.sign {
  font-size: 80px;
  margin-bottom: 10px;
}
button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#result {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-line;
}
